GSC Store/1543262495365/ConsultaFuentesPublicasExternasPortType_schema2.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!--Generated by the JavaTM Architecture for XML Binding(JAXB) Reference Implementation, (build IBM 2.2.3-11/28/2011 06:21 AM(foreman)-) 
See <a href="http://java.sun.com/xml/jaxb">http://java.sun.com/xml/jaxb</a> -->
<xs:schema version="1.0" targetNamespace="http://grupobancolombia.com/ents/common/GenericException/V2.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:complexType name="GenericException">
    <xs:sequence>
      <xs:element name="code" type="xs:string"/>
      <xs:element name="description" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>

