GSC Store/1561672626377/localhost.ConsultaFuentesPublicasExternasPortType_schema4.9081.xsd

<?xml version="1.0" encoding="UTF-8"?><!--Generated by the JavaTM Architecture for XML Binding(JAXB) Reference Implementation, (build IBM 2.2.3-11/28/2011 06:21 AM(foreman)-) 
See <a href="http://java.sun.com/xml/jaxb">http://java.sun.com/xml/jaxb</a> --><xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://grupobancolombia.com/ents/SOI/CoreExtensions/V2.1" version="1.0" targetNamespace="http://grupobancolombia.com/ents/SOI/CoreExtensions/V2.1">

  <xs:complexType name="SystemException">
    <xs:sequence>
      <xs:element name="faultcode" type="xs:QName"></xs:element>
      <xs:element name="faultstring" type="xs:string"></xs:element>
      <xs:element name="faultactor" type="xs:anyURI" minOccurs="0"></xs:element>
      <xs:element name="detail" type="xs:string" minOccurs="0"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="UsernameToken">
    <xs:sequence>
      <xs:element name="userName" type="xs:string"></xs:element>
      <xs:element name="userToken" type="xs:anyType" minOccurs="0"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="ResponseStatus">
    <xs:sequence>
      <xs:element name="statusCode" type="tns:StatusCode" default="Success"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="Property">
    <xs:sequence>
      <xs:element name="key" type="xs:string"></xs:element>
      <xs:element name="value" type="xs:string"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="GenericException">
    <xs:sequence>
      <xs:element name="code" type="xs:string"></xs:element>
      <xs:element name="description" type="xs:string"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="MessageContext">
    <xs:sequence>
      <xs:element name="property" type="tns:Property" maxOccurs="unbounded"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="Classifications">
    <xs:sequence>
      <xs:element name="classification" type="xs:anyURI" maxOccurs="unbounded"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="Destination">
    <xs:sequence>
      <xs:element name="name" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="namespace" type="xs:anyURI" minOccurs="0"></xs:element>
      <xs:element name="operation" type="xs:string" minOccurs="0"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:simpleType name="StatusCode">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Success"></xs:enumeration>
      <xs:enumeration value="BusinessException"></xs:enumeration>
      <xs:enumeration value="ProviderException"></xs:enumeration>
      <xs:enumeration value="SystemException"></xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
</xs:schema>