GSC Store/1544455573468/ConsultaFuentesPublicasExternasPortType_schema3.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!--Generated by the JavaTM Architecture for XML Binding(JAXB) Reference Implementation, (build IBM 2.2.3-11/28/2011 06:21 AM(foreman)-) 
See <a href="http://java.sun.com/xml/jaxb">http://java.sun.com/xml/jaxb</a> -->
<xs:schema version="1.0" targetNamespace="http://grupobancolombia.com/ents/SOI/MessageFormat/V2.1" xmlns:tns="http://grupobancolombia.com/ents/SOI/MessageFormat/V2.1" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ns1="http://grupobancolombia.com/ents/SOI/CoreExtensions/V2.1">

  <xs:import namespace="http://grupobancolombia.com/ents/SOI/CoreExtensions/V2.1" schemaLocation="ConsultaFuentesPublicasExternasPortType_schema4.xsd"/>

  <xs:element name="requestHeader" type="tns:RequestHeader"/>

  <xs:element name="responseHeader" type="tns:ResponseHeader"/>

  <xs:complexType name="RequestHeader">
    <xs:complexContent>
      <xs:extension base="tns:Header">
        <xs:sequence>
          <xs:element name="userId" type="ns1:UsernameToken"/>
          <xs:element name="destination" type="ns1:Destination" minOccurs="0"/>
          <xs:element name="classifications" type="ns1:Classifications" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="Header" abstract="true">
    <xs:sequence>
      <xs:element name="systemId" type="xs:string"/>
      <xs:element name="messageId" type="xs:string"/>
      <xs:element name="timestamp" type="xs:dateTime" minOccurs="0"/>
      <xs:element name="messageContext" type="ns1:MessageContext" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="ResponseHeader">
    <xs:complexContent>
      <xs:extension base="tns:Header">
        <xs:sequence>
          <xs:element name="responseStatus" type="ns1:ResponseStatus"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
</xs:schema>

