GSC Store/1556111035820/localhost.ConsultaFuentesPublicasExternasPortType_schema3.9081.xsd

<?xml version="1.0" encoding="UTF-8"?><!--Generated by the JavaTM Architecture for XML Binding(JAXB) Reference Implementation, (build IBM 2.2.3-11/28/2011 06:21 AM(foreman)-) 
See <a href="http://java.sun.com/xml/jaxb">http://java.sun.com/xml/jaxb</a> --><xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://grupobancolombia.com/ents/SOI/MessageFormat/V2.1" xmlns:ns1="http://grupobancolombia.com/ents/SOI/CoreExtensions/V2.1" version="1.0" targetNamespace="http://grupobancolombia.com/ents/SOI/MessageFormat/V2.1">

  <xs:import namespace="http://grupobancolombia.com/ents/SOI/CoreExtensions/V2.1" schemaLocation="localhost.ConsultaFuentesPublicasExternasPortType_schema4.9081.xsd"></xs:import>

  <xs:element name="requestHeader" type="tns:RequestHeader"></xs:element>

  <xs:element name="responseHeader" type="tns:ResponseHeader"></xs:element>

  <xs:complexType name="RequestHeader">
    <xs:complexContent>
      <xs:extension base="tns:Header">
        <xs:sequence>
          <xs:element name="userId" type="ns1:UsernameToken"></xs:element>
          <xs:element name="destination" type="ns1:Destination" minOccurs="0"></xs:element>
          <xs:element name="classifications" type="ns1:Classifications" minOccurs="0"></xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="Header" abstract="true">
    <xs:sequence>
      <xs:element name="systemId" type="xs:string"></xs:element>
      <xs:element name="messageId" type="xs:string"></xs:element>
      <xs:element name="timestamp" type="xs:dateTime" minOccurs="0"></xs:element>
      <xs:element name="messageContext" type="ns1:MessageContext" minOccurs="0"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="ResponseHeader">
    <xs:complexContent>
      <xs:extension base="tns:Header">
        <xs:sequence>
          <xs:element name="responseStatus" type="ns1:ResponseStatus"></xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
</xs:schema>