GSC Store/1556111035820/localhost.ConsultaFuentesPublicasExternasPortType_schema1.9081.xsd

<?xml version="1.0" encoding="UTF-8"?><!--Generated by the JavaTM Architecture for XML Binding(JAXB) Reference Implementation, (build IBM 2.2.3-11/28/2011 06:21 AM(foreman)-) 
See <a href="http://java.sun.com/xml/jaxb">http://java.sun.com/xml/jaxb</a> --><xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://grupobancolombia.com/intf/Cliente/GestionRiesgo/ConsultaFuentesPublicasExternas/V1.0" xmlns:ns1="http://grupobancolombia.com/ents/common/GenericException/V2.0" version="1.0" targetNamespace="http://grupobancolombia.com/intf/Cliente/GestionRiesgo/ConsultaFuentesPublicasExternas/V1.0">

  <xs:import namespace="http://grupobancolombia.com/ents/common/GenericException/V2.0" schemaLocation="localhost.ConsultaFuentesPublicasExternasPortType_schema2.9081.xsd"></xs:import>

  <xs:element name="consultarFuentesExternas" type="tns:consultarFuentesExternas"></xs:element>

  <xs:element name="consultarFuentesExternasResponse" type="tns:consultarFuentesExternasResponse"></xs:element>

  <xs:element name="systemException" type="tns:SystemException"></xs:element>

  <xs:complexType name="SystemException">
    <xs:sequence>
      <xs:element name="genericException" type="ns1:GenericException"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="consultarFuentesExternasResponse">
    <xs:sequence>
      <xs:element name="bdua" type="tns:Bdua" minOccurs="0"></xs:element>
      <xs:element name="ruaf" type="tns:Ruaf" minOccurs="0"></xs:element>
      <xs:element name="nombreCompleto" type="tns:Persona" minOccurs="0"></xs:element>
      <xs:element name="procuraduria" type="tns:Procuraduria" minOccurs="0"></xs:element>
      <xs:element name="sisbenPuntaje" type="tns:SisbenPuntaje" minOccurs="0"></xs:element>
      <xs:element name="dianRut" type="tns:DianRut" minOccurs="0"></xs:element>
      <xs:element name="puestoVotacion" type="tns:PuestoVotacion" minOccurs="0"></xs:element>
      <xs:element name="contraloria" type="tns:Contraloria" minOccurs="0"></xs:element>
      <xs:element name="copnia" type="tns:Copnia" minOccurs="0"></xs:element>
      <xs:element name="asopagos" type="tns:Asopagos" minOccurs="0"></xs:element>
      <xs:element name="ramaJudicial" type="tns:RamaJudicial" minOccurs="0"></xs:element>
      <xs:element name="tramiteCedula" type="tns:TramiteCedula" minOccurs="0"></xs:element>
      <xs:element name="infraccionesTransitoSimit" type="tns:InfraccionesTransito" minOccurs="0"></xs:element>
      <xs:element name="cpae" type="tns:Cpae" minOccurs="0"></xs:element>
      <xs:element name="consejoProfesional" type="tns:ConsejoProfesional" minOccurs="0"></xs:element>
      <xs:element name="cpnaa" type="tns:Cpnaa" minOccurs="0"></xs:element>
      <xs:element name="anec" type="tns:Anec" minOccurs="0"></xs:element>
      <xs:element name="cpip" type="tns:Cpip" minOccurs="0"></xs:element>
      <xs:element name="icetex" type="tns:Icetex" minOccurs="0"></xs:element>
      <xs:element name="cpnt" type="tns:Cpnt" minOccurs="0"></xs:element>
      <xs:element name="ruesCamaras" type="tns:RuesCamaras" minOccurs="0"></xs:element>
      <xs:element name="runt" type="tns:Runt" minOccurs="0"></xs:element>
      <xs:element name="runtPlaca" type="tns:RuntPlaca" minOccurs="0"></xs:element>
      <xs:element name="afiliadosCompensados" type="tns:AfiliadosCompensados" minOccurs="0"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="Bdua">
    <xs:sequence>
      <xs:element name="exitoso" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="ubicacionFuente" type="tns:Ubicacion" minOccurs="0"></xs:element>
      <xs:element name="nombrePersona" type="tns:Persona" minOccurs="0"></xs:element>
      <xs:element name="entidad" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="regimen" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="fechaAfiliacion" type="xs:date" minOccurs="0"></xs:element>
      <xs:element name="ubicacionAfiliado" type="tns:Ubicacion" minOccurs="0"></xs:element>
      <xs:element name="tipoAfiliado" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="estadoAfiliacion" type="xs:string" minOccurs="0"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="Ubicacion">
    <xs:sequence>
      <xs:element name="pais" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="departamento" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="municipio" type="xs:string" minOccurs="0"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="Persona">
    <xs:sequence>
      <xs:element name="primerNombre" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="segundoNombre" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="primerApellido" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="segundoApellido" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="tipoNombre" type="xs:string" minOccurs="0"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="Ruaf">
    <xs:sequence>
      <xs:element name="exitoso" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="ubicacionFuente" type="tns:Ubicacion" minOccurs="0"></xs:element>
      <xs:element name="nombrePersona" type="tns:Persona" minOccurs="0"></xs:element>
      <xs:element name="sexo" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="salud" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Salud" type="tns:Salud" minOccurs="0" maxOccurs="unbounded"></xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="pension" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Pension" type="tns:Pension" minOccurs="0" maxOccurs="unbounded"></xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="riesgosProfesionales" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="RiesgosProfesionales" type="tns:RiesgosProfesionales" minOccurs="0" maxOccurs="unbounded"></xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="compensacionFamiliar" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="CompensacionFamiliar" type="tns:CompensacionFamiliar" minOccurs="0" maxOccurs="unbounded"></xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="cesantias" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Cesantias" type="tns:Cesantias" minOccurs="0" maxOccurs="unbounded"></xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="asistenciaSocial" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="AsistenciaSocial" type="tns:AsistenciaSocial" minOccurs="0" maxOccurs="unbounded"></xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="pensionado" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Pensionado" type="tns:Pensionado" minOccurs="0" maxOccurs="unbounded"></xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="Salud">
    <xs:sequence>
      <xs:element name="regimen" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="administradora" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="afiliacion" type="tns:Afiliacion" minOccurs="0"></xs:element>
      <xs:element name="tipoAfiliado" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="ubicacionAfiliacion" type="tns:Ubicacion" minOccurs="0"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="Afiliacion">
    <xs:sequence>
      <xs:element name="fechaAfiliacion" type="xs:date" minOccurs="0"></xs:element>
      <xs:element name="estadoAfiliacion" type="xs:string" minOccurs="0"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="Pension">
    <xs:sequence>
      <xs:element name="regimen" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="administradora" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="afiliacion" type="tns:Afiliacion" minOccurs="0"></xs:element>
      <xs:element name="afiliacionSubsidiada" type="xs:string" minOccurs="0"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="RiesgosProfesionales">
    <xs:sequence>
      <xs:element name="regimen" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="administradora" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="afiliacion" type="tns:Afiliacion" minOccurs="0"></xs:element>
      <xs:element name="actividadEconomicaRiesgo" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="ubicacionLaboral" type="tns:Ubicacion" minOccurs="0"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="CompensacionFamiliar">
    <xs:sequence>
      <xs:element name="tipoAfiliado" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="ubicacionLaboral" type="tns:Ubicacion" minOccurs="0"></xs:element>
      <xs:element name="afiliacion" type="tns:Afiliacion" minOccurs="0"></xs:element>
      <xs:element name="administradora" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="tipoMiembroCompensacionCubierta" type="xs:string" minOccurs="0"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="Cesantias">
    <xs:sequence>
      <xs:element name="regimen" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="administradora" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="afiliacion" type="tns:Afiliacion" minOccurs="0"></xs:element>
      <xs:element name="ubicacionLaboral" type="tns:Ubicacion" minOccurs="0"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="AsistenciaSocial">
    <xs:sequence>
      <xs:element name="fechaEntregaUltBeneficio" type="xs:date" minOccurs="0"></xs:element>
      <xs:element name="ubicacionEntregaBeneficio" type="tns:Ubicacion" minOccurs="0"></xs:element>
      <xs:element name="valorBeneficio" type="xs:double" minOccurs="0"></xs:element>
      <xs:element name="tipoSubsidio" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="estadoBeneficio" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="tipoBeneficio" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="administradora" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="programa" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="fechaVinculacion" type="xs:date" minOccurs="0"></xs:element>
      <xs:element name="estadoVinculacion" type="xs:string" minOccurs="0"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="Pensionado">
    <xs:sequence>
      <xs:element name="numeroResolucionPension" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="pensionCompartida" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="estadoPension" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="tipoPension" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="tipoPensionado" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="pagador" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="fechaResolucion" type="xs:date" minOccurs="0"></xs:element>
      <xs:element name="modalidadPension" type="xs:string" minOccurs="0"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="Procuraduria">
    <xs:sequence>
      <xs:element name="exitoso" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="ubicacionFuente" type="tns:Ubicacion" minOccurs="0"></xs:element>
      <xs:element name="nombrePersona" type="tns:Persona" minOccurs="0"></xs:element>
      <xs:element name="estado" type="xs:string" minOccurs="0"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="SisbenPuntaje">
    <xs:sequence>
      <xs:element name="exitoso" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="ubicacionFuente" type="tns:Ubicacion" minOccurs="0"></xs:element>
      <xs:element name="nombrePersona" type="tns:Persona" minOccurs="0"></xs:element>
      <xs:element name="ubicacionUsuario" type="tns:Ubicacion" minOccurs="0"></xs:element>
      <xs:element name="area" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="ficha" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="puntaje" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="fechaModificacionPersona" type="xs:date" minOccurs="0"></xs:element>
      <xs:element name="fechaModificacionEncuesta" type="xs:date" minOccurs="0"></xs:element>
      <xs:element name="estadoUsuario" type="xs:string" minOccurs="0"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="DianRut">
    <xs:sequence>
      <xs:element name="exitoso" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="ubicacionFuente" type="tns:Ubicacion" minOccurs="0"></xs:element>
      <xs:element name="nombrePersona" type="tns:Persona" minOccurs="0"></xs:element>
      <xs:element name="digitoVerificacion" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="estadoRegistro" type="xs:string" minOccurs="0"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="PuestoVotacion">
    <xs:sequence>
      <xs:element name="exitoso" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="estado" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="ubicacionVotacion" type="tns:Ubicacion" minOccurs="0"></xs:element>
      <xs:element name="puestoVotacion" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="direccionPuesto" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="fechaInscripcion" type="xs:date" minOccurs="0"></xs:element>
      <xs:element name="mesa" type="xs:string" minOccurs="0"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="Contraloria">
    <xs:sequence>
      <xs:element name="exitoso" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="ubicacionFuente" type="tns:Ubicacion" minOccurs="0"></xs:element>
      <xs:element name="nombrePersona" type="tns:Persona" minOccurs="0"></xs:element>
      <xs:element name="entidadAfectada" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="numeroFallos" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="tipoResponsabilidad" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="reportadoPor" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="ubicacionReporte" type="tns:Ubicacion" minOccurs="0"></xs:element>
      <xs:element name="estado" type="xs:string" minOccurs="0"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="Copnia">
    <xs:sequence>
      <xs:element name="exitoso" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="ubicacionFuente" type="tns:Ubicacion" minOccurs="0"></xs:element>
      <xs:element name="nombrePersona" type="tns:Persona" minOccurs="0"></xs:element>
      <xs:element name="estado" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="profesion" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="matricula" type="xs:string" minOccurs="0"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="Asopagos">
    <xs:sequence>
      <xs:element name="exitoso" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="ubicacionFuente" type="tns:Ubicacion" minOccurs="0"></xs:element>
      <xs:element name="nombrePersona" type="tns:Persona" minOccurs="0"></xs:element>
      <xs:element name="numeroPlanilla" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="tipoPlanilla" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="fechaPago" type="xs:date" minOccurs="0"></xs:element>
      <xs:element name="tarifaRiesgos" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="estado" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="administradoraCubierta" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="AdministradoraCubierta" type="tns:Administradora" minOccurs="0" maxOccurs="unbounded"></xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="Administradora">
    <xs:sequence>
      <xs:element name="tipo" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="nit" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="codigo" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="nombre" type="xs:string" minOccurs="0"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="RamaJudicial">
    <xs:sequence>
      <xs:element name="exitoso" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="ubicacionFuente" type="tns:Ubicacion" minOccurs="0"></xs:element>
      <xs:element name="nombrePersona" type="tns:Persona" minOccurs="0"></xs:element>
      <xs:element name="numeroCertificado" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="numeroTarjetaAbogado" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="estado" type="xs:string" minOccurs="0"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="TramiteCedula">
    <xs:sequence>
      <xs:element name="exitoso" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="numeroRegistroTramite" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="fechaTramite" type="xs:date" minOccurs="0"></xs:element>
      <xs:element name="numeroDocumento" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="ubicacionTramite" type="tns:Ubicacion" minOccurs="0"></xs:element>
      <xs:element name="respuestaSolicitud" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="estadoTramite" type="xs:string" minOccurs="0"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="InfraccionesTransito">
    <xs:sequence>
      <xs:element name="exitoso" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="suspensionLicencia" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="infraccion" type="tns:Infraccion" nillable="true" minOccurs="0" maxOccurs="unbounded"></xs:element>
      <xs:element name="comparendo" type="tns:Comparendo" nillable="true" minOccurs="0" maxOccurs="unbounded"></xs:element>
      <xs:element name="acuerdoPago" type="tns:AcuerdoPago" nillable="true" minOccurs="0" maxOccurs="unbounded"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="Infraccion">
    <xs:sequence>
      <xs:element name="numeroResolucion" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="comparendo" type="tns:Comparendo" minOccurs="0"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="Comparendo">
    <xs:sequence>
      <xs:element name="ubicacionFuente" type="tns:Ubicacion" minOccurs="0"></xs:element>
      <xs:element name="nombrePersona" type="tns:Persona" minOccurs="0"></xs:element>
      <xs:element name="estado" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="numeroComparendo" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="fechaComparendo" type="xs:date" minOccurs="0"></xs:element>
      <xs:element name="secretariaTransito" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="valorMulta" type="xs:double" minOccurs="0"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="AcuerdoPago">
    <xs:sequence>
      <xs:element name="fechaResolucion" type="xs:date" minOccurs="0"></xs:element>
      <xs:element name="permitePago" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="comparendo" type="tns:Comparendo" minOccurs="0"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="Cpae">
    <xs:sequence>
      <xs:element name="exitoso" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="ubicacionFuente" type="tns:Ubicacion" minOccurs="0"></xs:element>
      <xs:element name="nombrePersona" type="tns:Persona" minOccurs="0"></xs:element>
      <xs:element name="registroPersona" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="estadoPersona" type="xs:string" minOccurs="0"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="ConsejoProfesional">
    <xs:sequence>
      <xs:element name="exitoso" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="ubicacionFuente" type="tns:Ubicacion" minOccurs="0"></xs:element>
      <xs:element name="nombrePersona" type="tns:Persona" minOccurs="0"></xs:element>
      <xs:element name="especialidad" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="matricula" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="fechaExpedicionMatricula" type="xs:date" minOccurs="0"></xs:element>
      <xs:element name="poseeSanciones" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="estadoPersona" type="xs:string" minOccurs="0"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="Cpnaa">
    <xs:sequence>
      <xs:element name="exitoso" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="ubicacionFuente" type="tns:Ubicacion" minOccurs="0"></xs:element>
      <xs:element name="nombrePersona" type="tns:Persona" minOccurs="0"></xs:element>
      <xs:element name="estadoPersona" type="xs:string" minOccurs="0"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="Anec">
    <xs:sequence>
      <xs:element name="exitoso" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="ubicacionFuente" type="tns:Ubicacion" minOccurs="0"></xs:element>
      <xs:element name="nombrePersona" type="tns:Persona" minOccurs="0"></xs:element>
      <xs:element name="seccional" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="fechaActualizacionRegistro" type="xs:date" minOccurs="0"></xs:element>
      <xs:element name="datosRegistro" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="estadoPersona" type="xs:string" minOccurs="0"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="Cpip">
    <xs:sequence>
      <xs:element name="exitoso" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="tipoMatricula" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="numeroMatricula" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="datosRegistro" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="estadoPersona" type="xs:string" minOccurs="0"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="Icetex">
    <xs:sequence>
      <xs:element name="exitoso" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="credito" type="tns:Credito" nillable="true" minOccurs="0" maxOccurs="unbounded"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="Credito">
    <xs:sequence>
      <xs:element name="fechaSolicitud" type="xs:date" minOccurs="0"></xs:element>
      <xs:element name="resultadoSolicitud" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="fechaPublicacionResultado" type="xs:date" minOccurs="0"></xs:element>
      <xs:element name="estadoSolicitud" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="observaciones" type="xs:string" minOccurs="0"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="Cpnt">
    <xs:sequence>
      <xs:element name="exitoso" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="ubicacionFuente" type="tns:Ubicacion" minOccurs="0"></xs:element>
      <xs:element name="nombrePersona" type="tns:Persona" minOccurs="0"></xs:element>
      <xs:element name="numeroMatricula" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="titulo" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="institucion" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="estadoPersona" type="xs:string" minOccurs="0"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="RuesCamaras">
    <xs:sequence>
      <xs:element name="exitoso" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="detalleCamara" type="tns:Camara" nillable="true" minOccurs="0" maxOccurs="unbounded"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="Camara">
    <xs:sequence>
      <xs:element name="ubicacionFuente" type="tns:Ubicacion" minOccurs="0"></xs:element>
      <xs:element name="nombrePersona" type="tns:Persona" minOccurs="0"></xs:element>
      <xs:element name="categoriaPersona" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="camaraComercio" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="razonSocialEstablecimiento" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="siglaEstablecimiento" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="numeroMatricula" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="estadoMatricula" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="annoUltimaRenovacion" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="fechaMatricula" type="xs:date" minOccurs="0"></xs:element>
      <xs:element name="fechaCancelacion" type="xs:date" minOccurs="0"></xs:element>
      <xs:element name="categoriaMatricula" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="tipoSociedad" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="tipoOrganizacionEstablecimiento" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="numEmpleados" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="esAfiliado" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="actividadEconomica" type="tns:ActividadEconomica" nillable="true" minOccurs="0" maxOccurs="unbounded"></xs:element>
      <xs:element name="representanteLegal" type="tns:RepresentanteLegal" minOccurs="0"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="ActividadEconomica">
    <xs:sequence>
      <xs:element name="codigoCiuu" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="descripcion" type="xs:string" minOccurs="0"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="RepresentanteLegal">
    <xs:sequence>
      <xs:element name="textoCompleto" type="xs:string" minOccurs="0"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="Runt">
    <xs:sequence>
      <xs:element name="exitoso" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="ubicacionFuente" type="tns:Ubicacion" minOccurs="0"></xs:element>
      <xs:element name="nombrePersona" type="tns:Persona" minOccurs="0"></xs:element>
      <xs:element name="numeroInscripcion" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="fechaInscripcion" type="xs:date" minOccurs="0"></xs:element>
      <xs:element name="estadoConductor" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="estadoPersona" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="indicadorMultas" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="numeroPazySalvo" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="licenciaConduccion" type="tns:LicenciaConduccion" nillable="true" minOccurs="0" maxOccurs="unbounded"></xs:element>
      <xs:element name="certificadoConduccion" type="tns:CertificadoConduccion" nillable="true" minOccurs="0" maxOccurs="unbounded"></xs:element>
      <xs:element name="solicitud" type="tns:Solicitud" nillable="true" minOccurs="0" maxOccurs="unbounded"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="LicenciaConduccion">
    <xs:sequence>
      <xs:element name="numeroLicencia" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="organismoTransitoExpide" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="fechaExpedicion" type="xs:date" minOccurs="0"></xs:element>
      <xs:element name="estadoLicencia" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="restricciones" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="detalleLicencia" type="tns:DetalleLicencia" nillable="true" minOccurs="0" maxOccurs="unbounded"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="DetalleLicencia">
    <xs:sequence>
      <xs:element name="categoria" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="fechaExpedicion" type="xs:date" minOccurs="0"></xs:element>
      <xs:element name="fechaVencimiento" type="xs:date" minOccurs="0"></xs:element>
      <xs:element name="fechaVencimientoExamen" type="xs:date" minOccurs="0"></xs:element>
      <xs:element name="categoriaAntigua" type="xs:string" minOccurs="0"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="CertificadoConduccion">
    <xs:sequence>
      <xs:element name="numeroCertificado" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="centroEnsenanza" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="fechaExpedicion" type="xs:date" minOccurs="0"></xs:element>
      <xs:element name="categoria" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="tipo" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="estado" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="numeroSolicitud" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="fechaSolicitud" type="xs:date" minOccurs="0"></xs:element>
      <xs:element name="numeroFormularioUnicoPago" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="tramiteSolicitado" type="xs:string" minOccurs="0"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="Solicitud">
    <xs:sequence>
      <xs:element name="numeroSolicitud" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="fechaSolicitud" type="xs:date" minOccurs="0"></xs:element>
      <xs:element name="identificacion" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="estado" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="tramiteRealizado" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="entidad" type="xs:string" minOccurs="0"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="RuntPlaca">
    <xs:sequence>
      <xs:element name="exitoso" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="ubicacionFuente" type="tns:Ubicacion" minOccurs="0"></xs:element>
      <xs:element name="nombrePersona" type="tns:Persona" minOccurs="0"></xs:element>
      <xs:element name="estadoPersona" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="placaVehiculo" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="numeroLicenciaTransito" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="estadoVehiculo" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="tipoServicio" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="claseVehiculo" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="informacionGeneralVehiculo" type="tns:InformacionGeneralVehiculo" minOccurs="0"></xs:element>
      <xs:element name="datosTecnicosVehiculo" type="tns:DatosTecnicosVehiculo" minOccurs="0"></xs:element>
      <xs:element name="polizaSoat" type="tns:PolizaSoat" nillable="true" minOccurs="0" maxOccurs="unbounded"></xs:element>
      <xs:element name="certificadoTecnicoMecanicoGases" type="tns:CertificadoTecnicoMecanicoGases" nillable="true" minOccurs="0" maxOccurs="unbounded"></xs:element>
      <xs:element name="solicitudes" type="tns:Solicitud" nillable="true" minOccurs="0" maxOccurs="unbounded"></xs:element>
      <xs:element name="limitacionesPropiedad" type="tns:LimitacionesPropiedad" nillable="true" minOccurs="0" maxOccurs="unbounded"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="InformacionGeneralVehiculo">
    <xs:sequence>
      <xs:element name="marca" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="linea" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="modelo" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="color" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="numeroSerie" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="numeroMotor" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="numeroChasis" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="numeroVin" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="cilindraje" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="tipoCarroceria" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="tipoCombustible" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="fechaMatriculaInicial" type="xs:date" minOccurs="0"></xs:element>
      <xs:element name="autoridadTransito" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="gravamenesPropiedad" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="clasicoAntiguo" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="repotenciado" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="regrabacionMotor" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="numeroRegrabacionMotor" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="regrabacionChasis" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="numeroRegrabacionChasis" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="regrabacionSerie" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="numeroRegrabacionSerie" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="regrabacionVin" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="numeroRegrabacionVin" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="vehiculoEnsenanza" type="xs:string" minOccurs="0"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="DatosTecnicosVehiculo">
    <xs:sequence>
      <xs:element name="capacidadCarga" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="pesoBrutoVehicular" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="capacidadPasajeros" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="capacidadPasajerosSentados" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="numeroEjes" type="xs:string" minOccurs="0"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="PolizaSoat">
    <xs:sequence>
      <xs:element name="numeroPoliza" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="fechaExpedicion" type="xs:date" minOccurs="0"></xs:element>
      <xs:element name="fechaInicioVigencia" type="xs:date" minOccurs="0"></xs:element>
      <xs:element name="fechaFinVigencia" type="xs:date" minOccurs="0"></xs:element>
      <xs:element name="entidadSoat" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="estado" type="xs:string" minOccurs="0"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="CertificadoTecnicoMecanicoGases">
    <xs:sequence>
      <xs:element name="tipoRevision" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="fechaExpedicion" type="xs:date" minOccurs="0"></xs:element>
      <xs:element name="fechaVigencia" type="xs:date" minOccurs="0"></xs:element>
      <xs:element name="cdaExpide" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="vigente" type="xs:string" minOccurs="0"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="LimitacionesPropiedad">
    <xs:sequence>
      <xs:element name="tipoLimitacion" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="numeroDocumento" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="entidadJuridica" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="fechaExpedicion" type="xs:date" minOccurs="0"></xs:element>
      <xs:element name="fechaRadicacion" type="xs:date" minOccurs="0"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="AfiliadosCompensados">
    <xs:sequence>
      <xs:element name="exitoso" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="ubicacionFuente" type="tns:Ubicacion" minOccurs="0"></xs:element>
      <xs:element name="nombrePersona" type="tns:Persona" minOccurs="0"></xs:element>
      <xs:element name="reporteAfiliado" type="tns:Afiliado" minOccurs="0"></xs:element>
      <xs:element name="periodosCompensados" type="tns:Periodos" nillable="true" minOccurs="0" maxOccurs="unbounded"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="Afiliado">
    <xs:sequence>
      <xs:element name="resolucion2309" type="tns:Resolucion" nillable="true" minOccurs="0" maxOccurs="unbounded"></xs:element>
      <xs:element name="resolucion2280" type="tns:Resolucion" nillable="true" minOccurs="0" maxOccurs="unbounded"></xs:element>
      <xs:element name="resolucion4023" type="tns:Resolucion" nillable="true" minOccurs="0" maxOccurs="unbounded"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="Resolucion">
    <xs:sequence>
      <xs:element name="tipoIdentificacion" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="numeroDocumento" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="primerApellido" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="segundoApellido" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="primerNombre" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="segundoNombre" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="ultimoPeriodoCompensado" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="eps_eoc" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="tipoAfiliacion" type="xs:string" minOccurs="0"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="Periodos">
    <xs:sequence>
      <xs:element name="eps_eoc" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="periodosCompensados" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="fechaAfiliacion" type="xs:date" minOccurs="0"></xs:element>
      <xs:element name="diasCompensados" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="tipoAfiliado" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="norma" type="xs:string" minOccurs="0"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="consultarFuentesExternas">
    <xs:sequence>
      <xs:element name="identificacion" type="tns:Identificacion" minOccurs="0"></xs:element>
      <xs:element name="placaVehiculo" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="fuente" type="xs:string" minOccurs="0" maxOccurs="unbounded"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="Identificacion">
    <xs:sequence>
      <xs:element name="tipoDocumento" type="xs:string"></xs:element>
      <xs:element name="numeroDocumento" type="xs:string"></xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:schema>